* {
    margin: 0;
    font-family: sans-serif;
  }
 
  title {
    display: none;
  }

  body {
    background-color: rgb(17, 12, 22);
  }
  
  .container {
    height: 100vh;
    display: grid;
    grid-auto-rows: 7vh 1fr 5vh;
    grid-auto-columns: auto auto auto;
    grid-template-areas:
      "header header header"
      "node node node"
      "footer footer footer";
  }
  
  .container > .header {
    grid-area: header;
    color: peru;
    width: 100%;
    text-align: left;
    padding: 2vh 0;
    border-bottom: solid .0125em rgb(245, 91, 1); 
  }

  .node {
    height: 100%;
    display: grid;
    grid-area: node;
    grid-auto-rows: 89vh;
    grid-auto-columns: auto 12vw;
    grid-template-areas:
      "page nav"
  }

  .nav {
    grid-area: nav;
    border-left: solid .0125em rgb(245, 91, 1);
    font-size: .75em;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-item {
    line-height: 2.5em;
    font-size: 1.5em;
    text-align: center;
    color: #44555f;
  }

  .nav-item > a {
    text-decoration: none;
    color: thistle;
  }
  
  .nav-item:hover {
    background-color: rgb(245, 91, 1);
  }

  .nav-item > a:hover {
    color: black;
  }
  
  .page {
    grid-area: page;
    padding: 2vh 1vh;
    display: grid;
    grid-auto-rows: 10vh 1fr;
    grid-auto-columns: auto auto auto;
    grid-template-areas:
      ". intro ."
      "content content content"
  }

  /* .page .home {
    display: grid;
    grid-auto-rows: ;
    grid-auto-columns: ;
    grid-template-areas: ;
  } */
  /* .main {
    grid-area: main;
    margin: 1vh 0;
    padding: .5vh;
    display: grid;
    grid-auto-rows: 5vh 1fr;
    grid-auto-columns: auto;
    grid-template-areas:
      ". intro ."
      "content content content";
  } */
  
  /* .main > .intro {
    grid-area: intro;
    margin: 1vh;
    height: max-content;
    text-align: center; */
    /* border: dashed .0125em navy; */
  /* }
   */

  .page > .intro {
    grid-area: intro;
    text-align: center;
  }
   
  .intro > h2 {
    color: yellowgreen;
  }

  .page > .content {
    grid-area: content;
    margin: 1vh auto;
    height: max-content;
    text-align: center;
    /* border: dashed .0125em forestgreen; */
  }
  
  .content > div {
    display: inline-flex;
    margin: 2vh;
    /* border: dashed .25em brown; */
  }
  
  .footer {
    grid-area: footer;
    border-top: solid .0125em rgb(245, 91, 1);
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: .75vh;
    color: peru;
  }
  